# SPDX-FileCopyrightText: 2020 CERN.
# SPDX-FileCopyrightText: 2020 Northwestern University.
# SPDX-License-Identifier: MIT
#
-e git+https://github.com/inveniosoftware/flask-resources.git#egg=flask-resources
-e git+https://github.com/inveniosoftware/invenio-records-resources.git#egg=invenio-records-resources
